body
{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}
form 
{
    background-color: #ffffff;
    padding: 30px;
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.Regestration-form
{
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-bottom: auto;
}
.Signature-form 
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    color: #2c3e50;
}
.Patientname
{
    margin-bottom: 15px;
}
.Patientname input
{
    width: 47%;
    padding: 8px;
    margin: 5px 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Number 
{
    margin-bottom: 15px;
}
.Number input
{
    width: 96%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Datebirth 
{
    margin-bottom: 15px;
}
.Datebirth input 
{
    width: 96%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkbox-group 
{
    margin-bottom: 15px;
}
.checkbox-group label 
{
    margin-right: 20px;
    font-size: 15px;
    color: #34495e;
}
.checkbox-group input
{
    margin-right: 5px;
}
.Address 
{
    margin-bottom: 15px;
}
.MainAddress input,
.SubAddress input 
{
    width: 47%;
    padding: 8px;
    margin: 5px 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Nation 
{
    margin-bottom: 15px;
}
.Nation input,
.Nation select 
{
    width: 47%;
    padding: 8px;
    margin: 5px 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Insurance 
{
    margin-bottom: 15px;
}
.Insurance input
{
    width: 96%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Medical-history 
{
    margin-bottom: 20px;
}
.Medical-history label 
{
    display: block;
    color: #34495e;
}
.button 
{
    text-align: center;
    border-style: solid;
    background-color: black;
    color:#ffffff
}

